#mensagem-remocao {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-danger);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  display: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 9999;
  animation: fade 0.4s ease-in-out;
}